@font-face {
  font-family: "Raleway";
  src: url("./fronts/raleway/Raleway-Regular.eot");
  src: url("./fronts/raleway/Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fronts/raleway/Raleway-Regular.woff2") format("woff2"),
    url("./fronts/raleway/Raleway-Regular.woff") format("woff"),
    url("./fronts/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fronts/opensans/OpenSans-Regular.eot");
  src: url("./fronts/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fronts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("./fronts/opensans/OpenSans-Regular.woff") format("woff"),
    url("./fronts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

@import "../node_modules/swiper/swiper-bundle.css";

$black: black;
$ligthblack: #333333;
$white: white;
$pink: #ec7979;
$lightgrey: #e2e2e2;
$mediumgrey: #f5f5f5;
$darkgrey: #86878b;
$bordergrey: #bdbdbd;
$socialgrey: #cccccc;
$tabsgrey: #c6cbcd;
$grey: #808080;
$rose: #f8efef;

body * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container-block {
  padding: 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  &:after {
    content: "";
    display: block;
    width: 170px;
    border: 1px solid $pink;
    background: $pink;
    margin: 55px auto;
  }
}
.subtitle {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: $darkgrey;
}
.title-item {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 33px;
}
.subtitle-item {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.secondary-btn {
  width: 50%;
  padding: 25px;
  margin: 50px 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: 1s;
  color: $white;
  background: transparent;
  border: 1px solid $white;

  &:hover {
    background: grey;
  }
}
.secondary-btn_color {
  background: $pink;
  border: 1px solid $pink;
}
.input-wrapper {
  position: relative;
  display: flex;
  &:after {
    content: "";
    background: $pink;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
  }
  &:hover:after {
    width: 100%;
  }
  .input {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid $bordergrey;
    font-family: "Open Sans";
    font-size: 14px;
    color: $bordergrey;
  }
}
.mobile-menu-button {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  z-index: 9;
  right: 20px;
  padding: 10px;
}
.menu-check {
  display: none;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $black;
  .container-block {
    .header__menu {
      display: flex;
      list-style: none;
      align-items: center;
      & a {
        text-decoration: none;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        color: $white;
        margin: 0 25px;
      }
    }
  }
}
.main {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-top: 150px;
  z-index: 3;
  &:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:before {
    content: "";
    position: absolute;
    background-image: url(./img/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container-block {
    justify-content: center;
    .main-info {
      flex: 1 1 66.666%;
      padding-right: 25px;
      .main-info__title {
        font-family: "Raleway";
        font-weight: 500;
        font-size: 48px;
        color: $white;
        &::after {
          content: "";
          display: block;
          width: 170px;
          border: 1px solid $grey;
          margin: 25px 0;
        }
      }
      .main-info__subtitle {
        width: 50%;
        font-family: "Raleway";
        font-size: 18px;
        line-height: 21px;
        color: $white;
      }
      .main-info__download-btn {
        color: $white;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        padding: 15px 70px;
        margin-top: 39px;
        background-color: transparent;
        border: 1px solid $white;
        cursor: pointer;
      }
    }
    .main-form {
      flex: 1 1 33.333%;
      text-align: center;
      .container {
        background: $white;
        border-radius: 5px 5px 0 0;
        padding: 20px 20px 40px 20px;
        .main-form__title {
          font-family: "Open Sans";
          font-size: 28px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 30px;
          .main-form__title_colortext {
            color: $pink;
          }
        }
      }
      .main-form__register-btn {
        width: 100%;
        color: $white;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        padding: 25px;
        background-color: $pink;
        border: 1px solid $pink;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
      }
    }
  }
}
.social {
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: $rose;
  .container-block {
    .social-text {
      padding: 15px;
      flex: 1 1 33.333%;
      .social-text__title {
        margin-bottom: 20px;
        font-weight: 700;
      }
      .social-text__subtitle {
        color: $darkgrey;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
    .social-link {
      flex: 1 1 66.666%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      & i {
        margin: 25px;
        color: $socialgrey;
      }
    }
  }
}
.tabs {
  width: 100%;
  .container-block {
    display: block;
    .tabs-links {
      display: flex;
      & a {
        color: $black;
        padding: 10px 30px;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        text-decoration: none;
      }
      & a:first-child {
        border: 1px solid $tabsgrey;
        border-radius: 5px 5px 0px 0px;
        position: relative;
      }
      & a:first-child::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $white;
        left: 0;
        bottom: -25px;
      }
    }
    .tabs-info {
      display: flex;
      border: 1px solid $tabsgrey;
      .tabs-info__text {
        flex: 1 1 70%;
        padding: 25px 10px 0px 50px;
        .text__title {
          font-family: "Open Sans";
          font-size: 24px;
          line-height: 33px;
          font-weight: bold;
          margin: 30px 0;
        }
        .text__subtitle {
          font-family: "Raleway";
          font-size: 14px;
          line-height: 16px;
        }
        .text__download-btn {
          max-width: 50%;
          min-width: 30%;
          color: $white;
          text-align: center;
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 18px;
          padding: 15px;
          margin: 40px 0;
          background-color: $pink;
          border: 1px solid $pink;

          cursor: pointer;
        }
      }
      .tabs-info__pic {
        flex: 1 1 30%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.about {
  margin: 0 auto;
  .container-block {
    display: block;
    .about__container-grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 30px;
      align-items: center;
      justify-items: center;
      .container-grid__item {
        width: 100%;
        .item__icon {
          text-align: center;
        }
        .item__slogan {
          margin: 5px auto;
          text-align: center;
          font-weight: bold;
          text-transform: capitalize;
        }
        .item__disc {
          margin: 5px auto;
          text-align: center;
        }
      }
    }
  }
}
.price {
  background: $mediumgrey;
  .container-block {
    display: block;
    .price__container-grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 30px;
      align-items: center;
      justify-items: center;
      .container-grid__item {
        width: 100%;
        transition: 1s;
        &:hover {
          transform: translateY(-20px);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .item__tariff {
          color: $white;
          background: $ligthblack;
          border: 1px solid $mediumgrey;
          text-align: center;
          padding: 10px;
        }
        .item__price {
          color: $white;
          font-family: "Raleway";
          font-size: 36px;
          line-height: 42px;
          text-align: center;
          background: $ligthblack;
          border: 1px solid $mediumgrey;
          padding: 20px;
        }
        .item__period {
          color: $darkgrey;
          text-align: center;
          background: $ligthblack;
          border: 1px solid $mediumgrey;
          padding: 10px;
        }
        .item__option {
          text-align: center;
          color: $darkgrey;
          background: $white;
          border: 1px solid $mediumgrey;
          padding: 10px;
        }
      }
    }
  }
}
.customers {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  .container-block {
    display: block;
    overflow: hidden;
    .swiper-container {
      max-width: 100%;
      margin: 50px 0;
      .swiper-wrapper {
        .swiper-slide {
          padding: 0 20px;
          .review-block {
            .review-block__text-container {
              padding: 20px;
              background: $lightgrey;
              border-radius: 10px;

              .text-container__text {
                text-align: center;
                color: $grey;
                position: relative;
                &:after {
                  content: "";
                  z-index: -1;
                  width: 0;
                  height: 0;
                  border-left: 35px solid transparent;
                  border-right: 35px solid transparent;
                  border-top: 70px solid $lightgrey;
                  position: absolute;
                  left: 15%;
                }
              }
            }
            .review-block__user {
              margin-top: 50px;
              display: flex;
              justify-content: left;
              align-items: center;
              .user__logo {
                margin-right: 15px;
              }
              .user__text {
                .text__name {
                  font-weight: bold;
                  text-transform: capitalize;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.desing {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 3;
  &:before {
    content: "";
    background: url(./img/desing.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .container-block {
    display: block;
    .desing__title {
      color: $white;
      &::after {
        border: 1px solid $white;
        background: $white;
      }
    }
    .desing__subtitle {
      color: $white;
    }
    .desing__download {
      text-align: center;
      .desing__download-btn {
        color: white;
        background: transparent;
        border: 1px solid $white;
      }
    }
  }
}
.contact {
  .container-block {
    display: block;
    .contact-form {
      margin: 20px auto;
      &__input-area {
        display: flex;
        justify-content: center;
        margin: 50px auto;
        max-width: 80%;
        .input-area__wrapper {
          flex: 1 1 50%;
        }
        .input-wrapper {
          flex: 1 1 50%;
          margin: 38px 10px 0 0;
        }
      }
      &__sent {
        display: flex;
        justify-content: center;
      }
    }
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $black;
  .container-block {
    display: block;
    padding: 0;
    .footer__social-icon {
      margin: 15px auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      i {
        margin: 25px;
        color: $socialgrey;
      }
    }
    .footer__copyright {
      font-family: "Raleway";
      font-size: 18px;
      align-items: center;
      text-align: center;
      color: $socialgrey;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .tabs-info__text {
    max-width: 60%;
  }
  .tabs-info__pic {
    max-width: 40%;
    & img {
      max-width: 100%;
    }
  }
  .container-block {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 8;
    .container-block {
      .header__menu {
        display: none;
      }
    }
  }

  .mobile-menu-button {
    display: flex;
  }

  .menu-check:checked + .header {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    z-index: 4;
    background: $black;
  }

  .menu-check:checked + .header .container-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu-check:checked + .header .header__menu {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .header__menu a {
    font-size: 16px;
    text-align: left;
    padding: 20px;
    display: block;
    width: 100%;
    margin: 0;
  }

  .header__menu a:hover {
    color: $white;
    background: $pink;
  }
  .main .container-block {
    flex-wrap: wrap;
  }
  .main-info {
    max-width: 75%;
    margin: 0 0 20px 0;
  }
  .main-form {
    max-width: 75%;
  }
  .social-text {
    flex: 1 1 66.666%;
  }
  .social-link {
    flex: 1 1 33.333%;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
  .subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .title-item {
    font-size: 18px;
    line-height: 25px;
  }
  .subtitle-item {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .secondary-btn {
    width: 100%;
  }
  .main {
    .container-block {
      display: block;
      text-align: center;
      .main-info {
        max-width: 100%;
        padding: 0;
        text-align: center;
        img {
          display: none;
        }
        .main-info__title {
          width: 100%;

          &::after {
            width: 100%;
          }
        }
        .main-info__subtitle {
          width: 100%;
        }
        .main-info__download-btn {
          width: 100%;
          margin-top: 25px;
        }
      }
      .main-form {
        max-width: 100%;
        flex: 1;
        margin-top: 25px;
      }
    }
  }

  .social {
    .container-block {
      padding: 25px;
      display: block;
      text-align: center;
    }
  }

  .tabs {
    .container-block {
      .tabs-links {
        display: flex;
        & a {
          flex: 1 1 33.333%;
          text-align: center;
        }
      }
      .tabs-info {
        align-items: center;
        justify-content: center;
        display: block;
        .tabs-info__text {
          max-width: 100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .tabs-info__pic {
          display: none;
        }
      }
    }
  }
  .about {
    .container-block {
      .about__container-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      }
    }
  }
  .contact {
    .container-block {
      .contact-form {
        .contact-form__input-area {
          display: block;
          .input-area__wrapper {
            height: 250px;
          }
          .text-area__wrapper {
            margin: 25px auto;
          }
        }
      }
    }
  }

  .review-block__text-container {
    padding: 10px 30px;
  }
}
