@font-face {
  font-family: "Raleway";
  src: url("./fronts/raleway/Raleway-Regular.eot");
  src: url("./fronts/raleway/Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fronts/raleway/Raleway-Regular.woff2") format("woff2"),
    url("./fronts/raleway/Raleway-Regular.woff") format("woff"),
    url("./fronts/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fronts/opensans/OpenSans-Regular.eot");
  src: url("./fronts/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fronts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("./fronts/opensans/OpenSans-Regular.woff") format("woff"),
    url("./fronts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

header {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header::before {
  content: "";
  margin: 0 auto;
  width: 114%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: -10%;
  z-index: -1;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  align-items: center;
}
ul a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0 25px;
}
.main {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  position: relative;
  padding: 350px 0px 238px;
  justify-content: space-around;
  z-index: 3;
}
.main::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 114%;
  height: 100%;
  top: 0%;
  left: -10%;
  z-index: -1;
}
.main::before {
  content: "";
  position: absolute;
  background-image: url(./img/image.jpg);
  margin: 0 auto;
  width: 114%;
  height: 100%;
  top: 0%;
  left: -10%;
  z-index: -1;
}
.main-info {
  max-width: 42%;
  margin-right: 20px;
}
.main-info__title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 37px;
  color: white;
}
.main-info__title::after {
  content: "";
  display: block;
  width: 170px;
  border: 1px solid grey;
  margin: 25px 0;
}

.main-info__subtitle {
  width: 50%;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.main-info__downloadbtn {
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  padding: 15px 91px;
  margin-top: 39px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}
.main-form {
  width: 37%;
  background: white;
  border-radius: 5px;
  text-align: center;
}
.main-form__title {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
}
.main-form__title_colortext {
  color: #ec7979;
}

input[type="text"],
input[type="password"] {
  width: 75%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  color: #bdbdbd;
}

.main-form__registerbtn {
  width: 100%;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  padding: 25px 91px;
  margin-top: 39px;
  background-color: #ec7979;
  border: 1px solid #ec7979;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}
