@font-face {
  font-family: "Raleway";
  src: url("./fronts/raleway/Raleway-Regular.eot");
  src: url("./fronts/raleway/Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fronts/raleway/Raleway-Regular.woff2") format("woff2"),
    url("./fronts/raleway/Raleway-Regular.woff") format("woff"),
    url("./fronts/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fronts/opensans/OpenSans-Regular.eot");
  src: url("./fronts/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fronts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("./fronts/opensans/OpenSans-Regular.woff") format("woff"),
    url("./fronts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}

header {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header::before {
  content: "";
  margin: 0 auto;
  width: 120%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: -10%;
  z-index: -1;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  align-items: center;
}
ul a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0 25px;
}
