@font-face {
    font-family: 'Hind Siliguri';
    src: url('/homework4/font/HindSiliguri-Regular.eot');
    src: local('Hind Siliguri Regular'), local('HindSiliguri-Regular'),
        url('/homework4/font/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
        url('/homework4/font/HindSiliguri-Regular.woff2') format('woff2'),
        url('/homework4/font/HindSiliguri-Regular.woff') format('woff'),
        url('/homework4/font/HindSiliguri-Regular.ttf') format('truetype');
    font-style: normal;
}

.content{
    width: 90%;
    margin: auto;
    display: flex;
}

.card__body{
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: auto;
    width: 555px;
    height: 296px;
    margin: 0px 5px 0px 51px;
    position: relative;
    border-radius: 3px;
}
.card__item__description, .card__item, p, a {
font-family: 'Hind Siliguri', sans-serif;
}
.card__item__description{
color: #F4F9FC;
font-size: 16px;
line-height: 27px;
font-weight: 500;
opacity: 0.6;
margin-bottom: -22px;
}
.card__item{
font-weight: 600;
font-size: 31px;
line-height: 40px;
color: #F4F9FC;
width: 300px;
margin-bottom: 10px;
}
.card__full{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 27px;
text-align: center;
color: #F4F9FC;

}
.card__text{
    margin: 77px 0px 0px 35px;
    
}
.dron{
    max-width: 65%;
    position: absolute;
    top: -24px;
    left: 230px;
}
.camera{
    max-width: 50%;
    position: absolute;
    top: 38px;
    left: 272px;
}
.main{
    display: flex;
    position: relative;
}
.main__informathion{
    margin-top: 155px;
}
.main__informathion p:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #C72535;
    opacity: 0.6;
}

.main__informathion p:nth-child(2){
    margin-top: 10px;
    font-weight: 600;
    font-size: 44px;
    line-height: 71px;
    color: #030D15;
}
.main__informathion p:nth-child(3){
    width: 497px;
    font-size: 16px;
    line-height: 24px;
    color: #030D15;
    opacity: 0.6;
}
/* ul{
    list-style-image: url('img/Group23.svg') ;
} */
li {font-family: 'Hind Siliguri', sans-serif;
    width: 400px;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #030D15;
    margin: 20px 0px;}
 li:before {
    content:'';
    background: url('img/Group23.svg');
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}
.main__foto{
    margin: 50px 100px 0px 50px;
}
.main:after{
    content: '';
    width: 100%;
    height: 624px;
    position: absolute;
    background-color: #F4F9FC;
    z-index: -1;
    bottom: 0px;
}